body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.max {
    width: 100%;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6, input, button {
    font-family: Arial;
}

.max-width { width: 100%; }
.max-height { height: 100%; }

.flex-horizontal, .flex-vertical {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-vertical { flex-direction: column; }

.flex-horizontal { flex-direction: row; }

.flex-align-start {
    align-items: start;
}

.justify-space-between {
    justify-content: space-between;
}

/* more specific stuff */

.buttons {
    padding: 5px;
    width: calc(100% - 10px);
    gap: 5px;
}

button, input {
    font-size: 18px;
}

#editor {
    height: 100%;
    width: 100%;
}

.cm-editor {
    height: 100%;
    width: 100%;
}

.m38 {
    height: calc(100% - 38px);
}

.images {
    width: 100%;
}

