body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}

.max {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    color: white;
}

.max-width { width: 100%; }
.max-height { height: 100%; }

.flex-horizontal, .flex-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-vertical { flex-direction: column; }

.flex-horizontal { flex-direction: row; }

.flex-align-start {
    align-items: start;
}

.justify-space-between {
    justify-content: space-between;
}

/* more specific stuff */

.buttons {
    padding: 5px;
    width: calc(100% - 10px);
    gap: 5px;
}

button, input {
    font-size: 18px;
}

#editor {
    height: 100%;
    width: 100%;
}

#annotations {
    height: 100%;
    width: 100%;
}

.overflow-scroll-horizontal {
    overflow-x: scroll;
}

.editor-outer {
    max-width: 100%;
    overflow: hidden;
}

.cm-editor {
    height: 100%;
    width: 100%;
}

.m38 {
    height: calc(100% - 38px);
}

.images {
    width: 100%;
}

.legend {
    width: 20%;
}

#result {
    background-color: #aaa;
    height: calc(100% - 125px);
    width: calc(100% - 20px);
    padding-left: 20px;
    max-height: 400px;
    overflow-y: scroll;
}

.result-outer {
    width: 50em;
    height: 100%;
}

.broken {
    width: calc(100% - 40px);
    max-height: 60%;
    object-fit: contain;
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

.cm-editor {
    border: none;
}
